.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-cl);
  & .icon {
    fill: var(--white-cl);
  }
}
