.thead {
  width: 100%;
}

.row {
  width: 100%;
  position: sticky;
  top: 28px;
}

.col {
  font-size: var(--text-lg);
  font-weight: var(--bold);
  padding: 8px 16px;

  background-color: var(--secondary-cl);
  color: var(--white-cl);
}

.col:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.col:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
